
  <%= semantic_form_for([:admin, @sub_topic]) do |f|%>

  <div id="sub_topic_partial_content">
    <div id="part">
      <%= f.inputs "Add Sub-Topic Details" do %>
      <%= f.input :course_id,:label=>"Select Section Type",:as=>:select, :collection => Course.all.map{|b| [b.course_name,b.id]}, :include_blank => false  %>
      <%= f.input :section_id,:label=>"Select Section Type",:as=>:select, :collection => Section.all.map{|b| [b.section_name,b.id]}, :include_blank => false  %>
       <%= f.input :topic_id,:label=>"Select Section Type",:as=>:select, :collection => Topic.all.map{|b| [b.topic_name,b.id]}, :include_blank => false  %>     
        <%= f.input :sub_topic_name, :required => true %>
        <%= f.input :description, :input_html => { :class => 'autogrow', :rows => 10, :cols => 20  }%>
        <%= f.input :video_link %>             
        <%= f.input :only_paid,:label=>"Select Subscription Type",:as=>:select, :collection => {"Free"=>"0","Paid"=>"1"},:include_blank => false,:required => true %> 
      <% end %>
    </div>
  </div>


  <fieldset class="actions">
    <ol>
      <li id="topic_submit_action" class="action input_action ">
        <input type="submit" value="Update SubTopic" name="commit">
      </li>
      <li class="cancel">
        <a href="/admin/sub_topics">Cancel</a>
      </li>      
    </ol>
  </fieldset>

<% end %>
