<% if !current_user %>
<p style="font-size:22px;font-weight:bold;margin-bottom:20px;">LESSONS & PRACTICE TESTS</p>
<% i,j = 1,1 %>
<ul class="nav nav-pills blue" id="myTab">
  <% courses.each do |c| %>
    <li class=<%= 'active' if i == 1 %>>
      <a href="#<%= c.course_name %>" data-toggle="tab">
        <%= c.course_name %></a>
    </li>
    <% i += 1 %>
  <% end %>
</ul>

<div class="tab-content" id="myTabContent">
  <% courses.each do |c| %>
    <div id="<%= c.course_name %>" class="tab-pane fade <%= 'active in' if j == 1 %>">
      <%= render :partial=>"courses/show_lesson_details",:locals => {:cid => c.id } %>
    </div>
    <% j += 1 %>
  <% end %>
</div>

<% else %>
<p style="font-size:22px;font-weight:bold;margin-bottom:20px;">LESSONS & PRACTICE TESTS</p>
<p style="margin-bottom:20px;">Based on your Diagnostics Test results, here's your 'Plan' to strengthen particular topics. Incase you'd like to go through all the topics, click on 'Full' to see lesson plans and practice tests for all topics.</p>
<div class="span12" style="border-bottom:1px solid grey;">
  <div style="width:10%;float:left;">Week</div>
  <div style="width:40%;float:left;">Topic</div>
  <div style="width:10%;float:left;">Lesson</div>
  <div style="width:20%;float:left;">Practice Test</div>
  <div style="width:20%;float:left;">Progress</div>
</div>
<% for i in 1..2 %>
<div class="span12" style="border-bottom:1px solid grey;">
  <div style="width:10%;float:left;"><%= i %></div>
  <div style="width:40%;float:left;">Number Properties - a short description of what is this</div>
  <div style="width:10%;float:left;"><a href="#myVedioModal" role="link" class="btn" data-toggle="modal">Launch</a></div>
  <div style="width:20%;float:left;"></div>
  <div style="width:20%;float:left;"></div>
</div>
<% end %>


<!-- Modal -->
<div id="myVedioModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

<div class="modal-body">

<!--iframe width="520" height="390" frameborder="0" allowfullscreen=""></iframe-->
</div>

</div>

<% end %>

<script type="text/javascript">
$('#myVedioModal').on('show', function () {
  $('div.modal-body').html('<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><iframe src="http://www.youtube.com/v/itTskyFLSS8&amp;rel=0&amp;autohide=1&amp;showinfo=0&amp;" width="500" height="281" frameborder="0" allowfullscreen=""></iframe>');
});
$('#myVedioModal').on('hide', function () {
$('div.modal-body').html('&nbsp;');
});
</script>