<%= semantic_form_for [:admin, @course], :validate => true do |f| %>
  <%= f.inputs "Question Details" do %>
    <%= f.input :course_name %>
    <%= f.input :description, :required => true, :input_html=>{:class => "tinymce"} %><%= tinymce %>
    <%= f.input :only_paid,:label=>"Select Subscription Type",:as=>:select, :collection => {"Free"=>"0","Paid"=>"1"}, :required => true, :default => "0",:include_blank => false   %>
    <%= f.input :video_link %>
  <% end %>

<%= f.actions do %>
  <%= f.action :submit %>
  <li class="cancel"><%= link_to "Cancel", '/admin/courses' %></li>
<% end %>
<% end %>
